/* --- Reset --- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* --- Reset --- */

/* --- Variables --- */
:root {
    --bg-img-layer: -10;
    --nav-layer: 10;

}

/* --- Variables --- */


#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 30rem;
    width: 60rem;
    padding: 3rem;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box1 {
    background-color: orange;
    grid-column: 4 / 6;
    grid-row: 1/ 3;
}

#box2 {
    background-color: greenyellow;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}


#box3 {
    background-color: #FFE12D;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

#box4 {
    background-color: #E2DFD2;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#box5 {
    background-color: red;
    grid-column: 3 / 6;
    grid-row: 3 / 4;
}

@media screen and (max-width: 768px) {
    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        min-height: 40rem;
    }
    
    .boxes {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #box1 {
        background-color: orange;
        grid-column: 1 / 1;
        grid-row: 1/ 2;
    }
    
    #box2 {
        background-color: greenyellow;
        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }
    
    
    #box3 {
        background-color: #FFE12D;
        grid-column: 1 / 1;
        grid-row: 3/ 4;
    }
    
    #box4 {
        background-color: #E2DFD2;
        grid-column: 1 / 1;
        grid-row: 4 / 5;
    }
    
    #box5 {
        background-color: rgb(133, 45, 45);
        grid-column: 1 / 1;
        grid-row: 5 / 6;
    }
  }